@charset "UTF-8";

body {
    background-image: radial-gradient(circle, yellow, rgb(0, 4, 255), rgb(114, 148, 241));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: maroon;
    background-color: darkgoldenrod;
}
h2 {
    color: rgba(223, 81, 199, 0.329);
}
p {
    text-align: justify;
    width: 15cm;
}
